#loading-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); 
    z-index: 9999; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}